<p-card>
   <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="Full name" [(ngModel)]="fullName">
    </div>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="Surname" [(ngModel)]="surname">
    </div>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="age" [(ngModel)]="userAge">
    </div>
  <button pButton type="button" label="Click" (click)="onUserCreated()"></button>
</p-card>
